<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.3.xsd">


	
	
	
	
	
	
	<!-- 자유게시판 -->
	<bean id="freeBoardController" class="animal.controller.FreeBoardController">
		<property name="selectAllFreeBoardListService" ref="selectAllFreeBoardListService"></property>
		<property name="selectAllNoticeListService" ref="selectAllNoticeListService"></property>
		<property name="freeBoardService" ref="freeBoardService"></property>
		<property name="animalDao" ref="animalDao"></property>
	</bean>
	
	
	<bean id="gbrController" class="animal.controller.GBRController">
		<property name="animalDao" ref="animalDao"></property>
	</bean>
	
	<bean id="InsertFreeCommentController" class="animal.controller.InsertFreeCommentController">
		<property name="animalDao" ref="animalDao"></property>
	</bean>
	
	<bean id="insertFreeBoardController" class="animal.controller.InsertFreeBoardController">
		<property name="freeBoardService" ref="freeBoardService"></property>
	</bean>
	
	<bean id="updateFreeBoardController" class="animal.controller.UpdateFreeBoardController">
		<property name="selectFreeBoardByBoardNumService" ref="selectFreeBoardByBoardNumService"></property>
		<property name="freeBoardService" ref="freeBoardService"></property>
	</bean>
	
	
	<!-- 이슈 -->
	<bean id="issueController" class="animal.controller.IssueController" />
	<bean id="issueCommentController" class="animal.controller.IssueCommentController" />
	<bean id="issueWriteController" class="animal.controller.IssueWriteController" />
	
	
	
	
	<!-- 동물 소개 -->
	
	<bean id="animalInfoController" class="animal.controller.AnimalInfoController">
		<property name="animalDao" ref="animalDao"></property>
	</bean>
	
	
	<!--로그인 컨트롤러 -->
	<bean id="loginController" class="animal.controller.LoginController">
		<property name="loginService" ref="loginService"/>
	</bean>
	
	<bean id="logoutController" class="animal.controller.LogoutController"/>
	
	<bean id="loginCheckController" class="animal.controller.LoginCheckController">
		<property name="loginCheckService" ref="loginCheckService" />
	</bean>
	<bean id="kakaoController" class="animal.controller.KakaoController">
		<property name="kakaoService" ref="kakaoService"></property>
	</bean>
	
	
	
	<!--회원가입 컨트롤러 -->	
	<bean id="registerController" class="animal.controller.RegisterController">
		<property name="memberRegisterService" ref="memberRegSvc"/>
	</bean>		
	
	

	<!-- 병원 정보 -->
	<bean id="hospitalInfoController" class="animal.controller.HospitalInfoController">
		<property name="animalDao" ref="animalDao"></property>
	</bean>
	
	<!-- 마이 페이지 -->
	<bean id="myPageController" class="animal.controller.MyPageController" >
		<property name="animalDao" ref="animalDao"></property>
		<property name="freeBoardService" ref="freeBoardService"></property>
		<property name="changeInfoService" ref="changeInfoService"></property>
		<property name="selectAllNoticeListService" ref="selectAllNoticeListService"></property>
	</bean>
	<bean id="nameCheckController" class="animal.controller.NameCheckController">
		<property name="nameCheckService" ref="nameCheckService"></property>
	</bean>
	
	
	
	
	<!-- 관리자 -->
	
	<bean id="hospitalGBController" class="animal.controller.HospitalGBController">
		<property name="animalDao" ref="animalDao"></property>
	</bean>
	
	<!--메인 컨트롤러-->
	<bean id="main" class="animal.controller.MainController">
		<property name="selectAllFreeBoardListService" ref="selectAllFreeBoardListService"/>
		<property name="imageService" ref="imageService"></property>
		<property name="animalDao" ref="animalDao"/> 
		<property name="messageService" ref="messageService"></property>
	</bean>
	
	
	
	<bean id="managerController" class="animal.controller.ManagerController">
		<property name="freeBoardService" ref="freeBoardService"></property>
		<property name="animalInfoService" ref="animalInfoService"></property>
		<property name="hospitalInfoService" ref="hospitalInfoService"></property>
		<property name="issueBoardService" ref="issueBoardService"></property>
		<property name="imageService" ref="imageService"></property>
		<property name="selectAllNoticeService" ref="selectAllNoticeListService"></property>
		<property name="authorizeService" ref="authorizeService"></property>
		<property name="reportBoardService" ref="reportBoardService"></property>
	</bean>
	
	
	
	<bean id="messageController" class="animal.controller.MessageController">
		<property name="messageService" ref="messageService"></property>
	</bean>
	<bean id="messengerController" class="animal.controller.MessengerController">
		<property name="messageService" ref="messageService"></property>
	</bean>
	
	
	
	<bean class="animal.exception.CommonExceptionHandler" />
	<bean class="animal.exception.BoardNotFoundException" />
</beans>
