<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:property-placeholder location="classpath:message/db.properties"/>

	<!-- 첫번째 빈 : 데이터소스(풀)  -->
	<bean id="dataSource" class="org.apache.ibatis.datasource.pooled.PooledDataSource">
		<property name="driver" value="${db.real.driver}"/>
		<property name="url"  value="${db.real.jdbcUrl}"/>
		<property name="username"  value="${db.real.user}"/>
		<property name="password"  value="${db.real.password}"/>
	</bean>
	
	<!-- 두번째 빈 : SqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" 
			value="classpath:mybatis/config/mybatisConfig.xml" />
		<property name="mapperLocations" 
			value="classpath*:mybatis/mapper/*.xml"/>
	</bean>

	<!-- 세번째 빈 : SqlSession -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory"/>
	</bean>
	
	<!-- 네번째 빈 : MemberDao -->
	<bean id="animalDao" class="animal.dao.AnimalDao">
		<property name="sqlSession" ref="sqlSession"/>
	</bean>

</beans>
